<?xml version='1.0' encoding='utf-8'?>
<widget id="com.thinkmill.touchstonejs-starter" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>CinCin!</name>

	<description>
		Cincin app made with TouchstoneJS
	</description>

	<author email="stagi.andrea@gmail.com" href="https://github.com/astagi">
		Andrea Stagi
	</author>

	<content src="index.html" />
	<access origin="*" />

	<preference name="DisallowOverscroll" value="true" />
	<preference name="orientation" value="portrait" />

	<!-- ANDROID -->
	<platform name="android">
		<icon src="resources/icons/Icon-Small@3x.png" density="ldpi" />
		<icon src="resources/icons/Icon-Small@2x.png" density="mdpi" />
		<icon src="resources/icons/Icon-76@2x.png" density="hdpi" />
		<icon src="resources/icons/Icon-76@2x.png" density="xhdpi" />
	</platform>

	<!-- IOS -->
	<platform name="ios">
	</platform>

	<!-- PLUGINS -->
	<plugin name="cordova-plugin-device" spec="^1.0.0" />
	<plugin name="cordova-plugin-statusbar" spec="^1.0.0" />
	<plugin name="cordova-plugin-whitelist" spec="^1.1.0" />
</widget>
