//
// Components
// ==============================



// Tab bar
// ------------------------------

.Tabs-Icon--cincin::before {
	content: @ionicon-var-ios-wineglass-outline;

	.is-selected > & {
		content: @ionicon-var-ios-wineglass;
	}
}
.Tabs-Icon--forms::before {
	content: @ionicon-var-ios-copy-outline;

	.is-selected > & {
		content: @ionicon-var-ios-copy;
	}
}
.Tabs-Icon--controls::before {
	content: @ionicon-var-ios-settings;

	.is-selected > & {
		content: @ionicon-var-ios-settings-strong;
	}
}
.Tabs-Icon--transitions::before {
	content: @ionicon-var-ios-browsers-outline;

	.is-selected > & {
		content: @ionicon-var-ios-browsers;
	}
}